@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.StatusHistoricoAnexo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new GestaoEquipamentos.Default.StatusHistoricoAnexoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>